<div class="card">
    <div class="card-header d-flex">
        <div class="card-title flex-grow-1 d-flex justify-content-between align-items-center">
            <h5 class="modal-title d-flex align-items-center">
                <i class="bi bi-person-lines-fill fs-3 me-2"></i> Thêm Thông Tin Nhân Viên
            </h5>
        </div>
    </div>
    <div class="card-body">
        <form action="/administrator/user/add-handler" method="POST" class="d-flex flex-column">
            <div class="">
                <div class="mb-3">
                    <label class="form-label ">Tên nhân viên</label>
                    <input  class="form-control shadow-none" name="tennhanvien" type="text" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Số điện thoại</label>
                    <input  class="form-control shadow-none" name="sodienthoai" type="text" required >
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input  class="form-control shadow-none" name="email" type="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input  class="form-control shadow-none" name="matkhau" type="password" required>
                </div>
                
            </div>
            <div class="text-center my-1">
                <div class="d-flex justify-content-center gap-4">
                    <a class="btn btn-warning shadow-none" href="/administrator/user">
                        Trở về
                    </a>
                    <button class="btn btn-dark shadow-none" type="submit" name="">
                        Thêm nhân viên
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>


