<%- include("./shared/header") %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Luxe &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" href="css/superfish.css">
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="css/cs-select.css">
	<link rel="stylesheet" href="css/cs-skin-border.css">

	<!-- Themify Icons -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Flat Icon -->
	<link rel="stylesheet" href="css/flaticon.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	
	<!-- Style -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>



<body>

	<div id="fh5co-contact-section">
		<div class="row">
			<div class="col-md-8">
				<div class="m-3 map" style="    padding-left: 150px;" >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62860.41873445724!2d105.71439065123327!3d10.035320458267945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0883fbc944b83%3A0x77fc34233e5e1320!2zTmluaCBLaeG7gXUsIEPhuqduIFRoxqEsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1706279662385!5m2!1svi!2s" width="750" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			
			</div>
			<div class="col-md-4">
				<div class="col-md-12">
					<h3>ĐỊA CHỈ CỦA CHÚNG TÔI</h3>
					<p>Rất mong chờ liên hệ từ quý khách hàng</p>
					<ul class="contact-info">
						<li><i class="ti-map"></i>Ninh Kiều, Cần Thơ</li>
						<li><i class="ti-mobile"></i>+ 84352864056</li>
						<li><i class="ti-envelope"></i><a href="#">anhb2005702@student.ctu.edu.vn</a></li>
						<li><i class="ti-home"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<!-- <div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Gửi tin nhắn" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	

	<footer id="footer" class="fh5co-bg-color">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="copyright">
						<p><small>&copy; Xây dựng năm 2024 <br> KHÁCH SẠN TA<br></small></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3">
							<h3>Trang liên quan</h3>
							<ul class="link">
								<li><a href="home">Home</a></li>
								<li><a href="room">Room</a></li>
								<li><a href="hotel">Hotels</a></li>
								<li><a href="contact">Contact</a></li>
								<li><a href="blog">Blog</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<h3>Các dịch vụ</h3>
							<ul class="link">
								<li><a href="#">Wifi</a></li>
								<li><a href="#">Tivi màn hình phẳng</a></li>
								<li><a href="#">Hồ bơi</a></li>
								<li><a href="#">Bồn tắm lớn</a></li>
								<li><a href="#">Gym</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<h3>Đăng ký tài khoản </h3>
							<p>Nhanh tay đăng ký tài khoản để đặt phòng khách sạn </p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<ul class="social-icons">
						<li>
							<a href="#"><i class="icon-twitter-with-circle"></i></a>
							<a href="#"><i class="icon-facebook-with-circle"></i></a>
							<a href="#"><i class="icon-instagram-with-circle"></i></a>
							<a href="#"><i class="icon-linkedin-with-circle"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


</body>
