<div class="card">
    <div class="card-header d-flex">
        <div class="card-title flex-grow-1 d-flex justify-content-between align-items-center">
            <h5 class="modal-title d-flex align-items-center">
                <i class="bi bi-person-lines-fill fs-3 me-2"></i> Thêm Loại Phòng
            </h5>
        </div>
    </div>
    <div class="card-body">
        <form action="/administrator/type_room/add-handler" method="POST" class="d-flex flex-column">
            <div class="">
                <div class="mb-3">
                    <label class="form-label ">Tên loại phòng</label>
                    <input  class="form-control shadow-none" name="loaiphong" type="text" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Số lượng khách</label>
                    <input  class="form-control shadow-none" name="soluongkhach" type="text" required >
                </div>
            </div>
            <div class="text-center my-1">
                <div class="d-flex justify-content-center gap-4">
                    <a class="btn btn-warning shadow-none" href="/administrator/type_room">
                        Trở về
                    </a>
                    <button class="btn btn-dark shadow-none" type="submit" name="">
                        Thêm lựa chọn
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>


